<section class="vh-80" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-lg-10 col-xl-8">
        <div class="card text-white" style="border-radius: 25px;">
          <div class="card-body p-md-2">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
                  <%= f.error_notification %>

                <form class="mx-1 mx-md-4">

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.input :avatar, as: :file, required: true %>
                      <label class="form-label" for="form3Example1c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.input :fullname,
                                  required: true,
                                  autofocus: true,
                                  input_html: { autocomplete: "name" }, placeholder: "Full Name", class: "form-control"%>
                      <label class="form-label" for="form3Example1c"></label>
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.input :email,
                                  required: true,
                                  autofocus: true,
                                  input_html: { autocomplete: "email" }, placeholder: "Email", class: "form-control"%>
                      <label class="form-label" for="form3Example3c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.input :password,
                                  required: true,
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { autocomplete: "new-password" }, placeholder: "Password", class: "form-control" %>
                      <label class="form-label" for="form3Example4c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.input :password_confirmation,
                                  required: true,
                                  input_html: { autocomplete: "new-password" }, placeholder: "Password", class: "form-control" %>
                      <label class="form-label" for="form3Example4cd"></label>
                    </div>
                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <%= f.button :submit, "REGISTER", class: "btn" %>
                  </div>

                 <% end %>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
