
<div class="row" style="padding-bottom: 25%">
	<div class="col-md-3">
		<div class="center">
      <% if current_user.avatar.attached? %>
			    <%= cl_image_tag avatar_url(@user), class: "avatar-full", style: "border-top-left-radius: 25px; border-top-right-radius: 25px;" %>
        <% else %>
          <%= image_tag avatar_url1(@user), class: "avatar-full", style: "border-top-left-radius: 25px; border-top-right-radius: 25px;"%>
      <% end %>


		</div>
		<div class="panel panel-default" style="background-color: black;">
			<div class="panel-heading" >Verification</div>
			<div class="panel-body" style="background-color: black; color: white;">
        <ul class="sidebar-list">
          <%# <% if @user.confirmation_token %>
        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href = "mailto: pjgomes85@hotmail.com" style="text-decoration: none;"><%= @user.email %></a><span class="pull-right icon-babu"> <i class="fa fa-check-circle-o"></i></span></li>
         <%# <% end %>
        <%# <li>facebook:<span class="pull-right icon-babu"> <i class="fa fa-check-circle-o"></i></span></li> %>
        <li><i class="fa-solid fa-phone"></i> <%= @user.phone_number %> </i><span class="pull-right icon-babu"> <i class="fa fa-check-circle-o"></i></span></li>
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h2><%= @user.full_name %></h2>

		<div class="description row-space-3">
			<%= @user.description %>
		</div>



		<h4 style="color: white;">Listings (<%= @rooms.length %>)</h4><br>

		<div class="row">
			<% @rooms.each do |room| %>
				<div class="col-md-4">
						<div class="panel-heading preview">
                <%= link_to room do %>
							    <%= cl_image_tag room.photos[0].key, width: 250, height: 244, crop: :fill, style: "border-radius: 25px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;" %>
                <% end %>
						</div>
						<div class="panel-body"  style="text-align: center; background-color: white;" >
							<%= link_to room.listing_name.capitalize, room %>
						</div>
          </div>
			<% end %>
      </div>
		</div>
  </div>
</div>
