<div class="row">
  <div >
    <h1><span class="text-red">PauloRents</span> Book unique homes and experience a city like a local one.</h1>
  </div>
</div>




<%= form_tag search_path, method: :get do |f| %>
  <div class="row">
      <div class="col-md-6">
        <div class="search-bar"><i class="icon fa fa-search"></i><%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control input-text" %></div>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Search", class: "form-control btn btn-normal btn-block" %>
      </div>
      <%# <div class="col-md-3"> %>
      <%# <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
      <%# </div> %>
        <%# <div class="col-md-3"> %>
        <%# <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
    <%# </div> %>
  <%# </div> %>
  <br/><br/>
  <%# <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= submit_tag "Search", class: "btn btn-normal btn-block" %>
    </div>
  </div>
<% end %>

<br/><hr/><br/>

<!-- HOMES ---->
<div><h3>HOMES</h3></div>

    <div class="row">
			<% @rooms.each do |room| %>
				<div class="col-md-2">
          <div class="panel panel-default">
						<div class="panel-heading preview">
							<%= image_tag room.cover_photo(:medium) %>
						</div>
						<div class="panel-body">
							<%= link_to room.listing_name, room %>
						</div>
          </div>
        </div>
			<% end %>
      </div>
    </div>










<script>
// $('.search-bar .icon').on('click', function() {
//   $(this).parent().toggleClass('active');
// });
</script>


<!-- Cities ---->
<div><h3>Cities</h3></div>
<br/>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?search=london" class="href">
      <div class="discovery-card" style="background-image: url('/assests/LD.jpg')"></div>
    </a>
  </div>

  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?search=Lisbon" class="href">
      <div class="discovery-card" style="background-image: url('/assests/LD.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?search=Paris" class="href">
      <div class="discovery-card" style="background-image: url('/assests/LD.jpg')"></div>
    </a>
  </div>
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000/search?search=Miami" class="href">
      <div class="discovery-card" style="background-image: url('/assests/LD.jpg')"></div>
    </a>
  </div>
</div>

<style>
.search-bar {
  position: relative;
}

.search-bar.active .input-text {
  max-width: 80%;
  border: 1px solid #ccc;
  background: #eee;
}

.search-bar .icon {
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 0;
  transform: translateY(-50%);
  padding: 13px 15px 13px 11px;
}

.text-red, .icon-red {
  color: #ff5a5e;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* /* .search-bar .input-text {
  max-width: 0;
  border: 0;
  border-color: #ccc;
  height: 20px;
  padding: 8px 6px 8px 35px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; */
}
</style>
