<div class="row">
  <div >
    <h1><span class="text-red">PauloRents</span> Book unique homes and experience a city like a local one.</h1>
  </div>
</div>




<%= form_tag search_path, method: :get do |f| %>
  <div class="row">
      <div class="col-md-6">
        <div class="search-bar"><i class="icon fa fa-search"></i><%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control input-text" %></div>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Search", class: "form-control btn btn-normal btn-block" %>
      </div>
      <%# <div class="col-md-3"> %>
      <%# <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
      <%# </div> %>
        <%# <div class="col-md-3"> %>
        <%# <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
    <%# </div> %>
  <%# </div> %>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">

    </div>
  </div>
<% end %>

<br/><hr/><br/>

<div class="text-center">
	<h2>Just for the weekend</h2>
	<p>Discover new, inspiring places close to home.</p>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="https://rails-authentication3.herokuapp.com/search?search=new+york">
			<div class="discovery-card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>New York</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="https://rails-authentication3.herokuapp.com/search?search=london">
			<div class="discovery-card" style="background-image: url('https://www.britishairways.com/assets/images/destinations/components/pathfinderBodyCopy/london/holidays-london/642x856-London-Getty-627576934.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>London</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://localhost:3000/search?utf8=%E2%9C%93&search=berlin">
			<div class="discovery-card" style="background-image: url('https://static1.mclcm.net/iod/images/v2/114/citytheque/localite_101_2123/800x360_100_300_000000x10x0.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Berlin</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<br>

<div class="text-center">
	<h2>Explore the world</h2>
	<p>See what peopel are travelling, all around the world.</p>
</div>

<br>

<div class="row">
	<% @rooms.each do |room| %>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= cl_image_tag room.photos[0].key, width: 400, height: 300, crop: :fill if room.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<%# <!-- <%= image_tag avatar_url(room.user), class: "img-circle avatar-small" %>&nbsp; 
					<%= link_to room.listing_name, room %>
				</div>
			</div>
		</div>

	<% end %>
</div>

<style>
.search-bar {
  position: relative;
}

.search-bar.active .input-text {
  max-width: 80%;
  border: 1px solid #ccc;
  background: #eee;
}

.search-bar .icon {
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 0;
  transform: translateY(-50%);
  padding: 13px 15px 13px 11px;
}

.text-red, .icon-red {
  color: #ff5a5e;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg");
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* /* .search-bar .input-text {
  max-width: 0;
  border: 0;
  border-color: #ccc;
  height: 20px;
  padding: 8px 6px 8px 35px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; */
}
</style>
