<div class="row">
  <div >
    <h1><span class="text-red">HomeRents</span> Book unique homes and experience a city like your local one.</h1>
  </div>
</div>




<%= form_tag search_path, method: :get do |f| %>
  <div class="row">
      <div class="col-md-6">
        <div class="search-bar"><i class="icon fa fa-search"></i><%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control input-text" %></div>
      </div>
      <div class="col-md-1">
        <button class="btnsearch"><%= submit_tag "", :style => "display: none;" %></i></button>
      </div>
      <%# <div class="col-md-3"> %>
      <%# <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
      <%# </div> %>
        <%# <div class="col-md-3"> %>
        <%# <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
    <%# </div> %>
  <%# </div> %>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">

    </div>
  </div>
<% end %>

<br/><hr/><br/>

<div class="text-center">
	<h2>Explore the world</h2>
	<p>Discover inspiring places close to home.</p>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="https://rails-authentication3.herokuapp.com/search?search=new+york">
			<div class="discovery-card" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2 class="strong">New York</h2>
					</div>
				</div>
			</div>
		</a>
	</div>

  <%# <style>
  .strong:hover {
    color: blue !important;
    opacity: none !important;
  }
  </style> %>




	<div class="col-md-4 col-sm-6">
		<a href="https://rails-authentication3.herokuapp.com/search?search=london">
			<div class="discovery-card" style="background-image: url('https://www.britishairways.com/assets/images/destinations/components/pathfinderBodyCopy/london/holidays-london/642x856-London-Getty-627576934.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>London</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://localhost:3000/search?utf8=%E2%9C%93&search=berlin">
			<div class="discovery-card" style="background-image: url('https://static1.mclcm.net/iod/images/v2/114/citytheque/localite_101_2123/800x360_100_300_000000x10x0.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Berlin</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>


<p></p>
<br/>

<div class="text-center">
	<h2>Just for the weekend</h2>
	<p>Discover inspiring places close to home.</p>
</div>

<br>

    <div class="row" >
      <% @rooms.each do |room| %>
        <div class="container col-md-4">
            <div class="card-home d-flex position-relative flex-column" style="background-color: #282828;">

                <div class='imgContainer'>
                  <%= link_to room do %>
                      <%= cl_image_tag room.photos[0].key,  width: 250, height: 244, crop: :fill if room.photos.length > 0 %>
                   <% end %>
                </div>

            <div class="content">
              <%# <% if @user.avatar.attached? %>
                <%# <%= cl_image_tag avatar_url(current_user), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <%# <% else %>
                  <%# <%= image_tag avatar_url1(current_user), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <%# <% end %>
                <div class="description">
                  <i class="fa-sharp fa-solid fa-house"></i>  <%= link_to room.listing_name, room %>
                </div>
                  <br/>

                  <div>
                    <i class="fa-solid fa-location-dot"></i>  <%= link_to room.address, room %></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <br/>
  <br/>
