<div class="row">
  <div >
    <h1><span class="text-red" id="canvas3d">YouRent</span> Book unique homes and experience a city like your local one.</h1>
  </div>
</div>


  <%= form_tag  search_path, method: :get do %>
    <div class="row">
      <div class="col-md-4">
        <div class="search-bar">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control input-text",
              placeholder: "Where are you going?",
              :style => "border-radius: 40px 0 0 40px; background-color: black; color: white;"
              %>
        </div>
      </div>
      <div class="search">
        <button class="btnsearch"><%= submit_tag "", class: "btn btn-primary", style: "display: none;" %></button>
    </div>
  <% end %>


          <%# <div class="col-md-3"> %>
          <%# <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
          <%# </div> %>
            <%# <div class="col-md-3"> %>
            <%# <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
        <%# </div> %>
      <%# </div> %>
      <br/><br/>

      <style>
      .search {
        width: 10%;
      }
      </style>

    <br/><hr/><br/>
    <div class="text-center">
      <h2>Explore the world <i class="fa fa-plane" aria-hidden="true"></i></h2>
      <p>Discover inspiring places close to home.</p>
    </div>
    <br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="https://rails-authentication3.herokuapp.com/search?search=algarve">
			<div class="discovery-card" style="background-image: url('https://images.unsplash.com/photo-1608651547914-4b1664f1e97c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'); border-radius: 25px;">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2 class="strong">Algarve</h2>
					</div>
				</div>
			</div>
		</a>
	</div>






	<div class="col-md-4 col-sm-6">
		<a href="https://rails-authentication3.herokuapp.com/search?search=london">
			<div class="discovery-card" style="background-image: url('https://images.unsplash.com/photo-1470608756445-2c9906b0680f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80'); border-radius: 25px;">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>London</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://localhost:3000/search?utf8=%E2%9C%93&search=barcelona">
			<div class="discovery-card" style="background-image: url('https://images.unsplash.com/photo-1558642084-fd07fae5282e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80'); border-radius: 25px;">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Barcelona</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>


<p></p>
<br/>

<div class="text-center">
	<h2>Recent Listings <i class="fa-solid fa-fire"></i></h2>
	<p>Discover inspiring places close to home.</p>
</div>
<br>

  <div class="row text-center">
    <% @rooms.each do |room| %>
    <div class="col-md-4 col-sm-6">
        <div class="hovereffect">
            <%= cl_image_tag room.photos[0].key,  width: 460, height: 220, crop: :fill, class: "img-responsive" if room.photos.length > 0 %>
           <%= link_to room, :action => 'go' do %>
                <div class="overlay">
                    <h2><%= room.listing_name %></h2>
                      <p>
                          <i class="fa fa-user-circle-o "></i> <%= room.acommodate %>
                          &nbsp;
                          <i class="fa fa-bed "></i> <%= room.bed_room %>
                           &nbsp;
                          <i class="fa fa-bath "></i> <%= room.bath_room %>
                      </p>

                    <p><i class="fa-solid fa-location-dot"></i> <%= room.address %></p>
                    <div class="bottomright">£ <%= room.price %> Night</div>
                </div>
             <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <br/>
  <br/>
