<div id="main">
  <div id="left">
    <!-- Search panel -->
  <div class="row">
  <br/>
  <div class="collapse" id="collapsePanel">

    <%= search_form_for @search, url: search_path do %>

        <div class="row">
          <div class="col-md-8">
            <label>Price Range:</label>
          </div>

            <div class="col-md-2">
              <label>Min Price</label>
                <%= f.text_field :price_gteq, class: "form-control" %>
            </div>
              <label>Max Price</label>
                <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>
          <hr/>

        <div class="row">
          <div class="col-md-6">
            <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
          </div>
          <div class="col-md-6">
            <%= text_field_tag :end_date, params[:end_date],readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
        </div>
      </div>
      <hr/>
  <% end %>  

  <div id="right">

  </div>
</div>


<style>

#main {
  height: 100%;
  overflow: scroll;
  height: 100%;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%%
}

#right {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}
</style>
