<%= form_for([@room, @room.reservations.new])  do |f| %>

   <div class="booking-form booking" data-controller="book" id="myHeader">
      <div class="price">£<%= @room.price %> night <span id="average_rating"></span><h3 class="pull-right">(<%= @reviews.count %>)<i class="fa-solid fa-star" style="color: #fabc05;"></i></div>
      <form>
        <div class="row">
        <div class="col-sm-6">
            <div class="form-group" style="background-color: #282828;">
              <span class="form-label check-in">CHECK-IN</span>
                <%= f.date_field :start_date, class: "form-control", type: "date" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" style="background-color: #282828;">
              <span class="form-label check-out">CHECK-OUT</span>
                <%= f.date_field :end_date, class: "form-control" %>
            </div>
          </div>
        </div>
          <%= f.submit "BOOK NOW", class: "btn btn-block" %>
          <% end %>
      </form>
    </div>
  <br/>


