<%= form_for([@room, @room.reservations.new])  do |f| %>

   <div class="booking-form booking">
      <div class="price">£<%= @room.price %> night <span id="average_rating"></span><h3 class="pull-right"><i class="fa-solid fa-star"></i> (<%= @reviews.count %>)</h3> </div>
      <form>
        <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
              <span class="form-label check-in">CHECK-IN</span>
                <%= f.date_field :start_date, class: "form-control", type: "date" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <span class="form-label check-out">CHECK-OUT</span>
                <%= f.date_field :end_date, class: "form-control" %>
            </div>
          </div>
        </div>
          <%= f.submit "Book Now", class: "btn btn-normal btn-block" %>
          <% end %>
      </form>
    </div>
  <br/>


<style>
.price {
  margin-bottom: 20px;
  color: #3e485c;
  font-weight: 700;
  font-size: 20px;
}
</style>


		<!-- Reviews -->
		<div class="row">
			<div class="col-md-12">
				<h3>Reviews <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
				<div class="container">
					<div>
						<%= render 'reviews/form' if @booked && !@hasReview %>
					</div>
					<div>
						<%= render 'reviews/list' %>
					</div>
				</div>
			</div>
		</div>
