<div class="row">
  <div class="col-md-2">
    <h1><%= @room.listing_name %></h1> <h4><i class="fa fa-star" aria-hidden="true"></i> Reviews <span id="average_rating"></span> (<%= @reviews.count %>)</h4>
    <br/>
  </div>



      <div class="row">
        <div class="col-md-4">
        <div><%= cl_image_tag @room.photos.first.key, width: 400, height: 500, style: "border-radius: 25px !important;" %></div>
        </div>

        <% if @room.photos.length > 0 %>
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner item" style="border-radius: 25px !important;">
            <% @room.photos.each do |photo| %>
              <div class="item <%= 'active' if photo.id == @photos[1].id %>">
                <%= cl_image_tag photo.key, class: "carousel-img" %>
              </div>
            <% end %>
          <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        <br/>
      <br/>










<style>
.hello {
  color: black !important;
}
</style>




      <div class="row">
        <!---LEFT PANEL---->
        <div class="col-md-8">
        <!-- Listing_name --->
          <div class="row card-body">
            <div class="col-md-8">
              <h1><%= @room.room_type %> place hosted by <%= @room.user.fullname %></h1>
                <%= @room.address %>
            </div>
          <div class="col-md-4 text center">
              <%= link_to user_path(@room.user.id) do %>
              <%= cl_image_tag avatar_url(@room.user), class: "img-circle avatar-medium" %>
              <% end %>
          </div>
        </div>

        <hr/>



    <!-- Room Info --->
    <div class="row text-babu card-body">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-user-circle-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bed fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @room.home_type %></div>
        <div class="col-md-3"><%= pluralize(@room.acommodate, "Guest") %></div>
        <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
        <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom") %></div>
      </div>

    </div>
    <hr/>

    <!---- About --->
    <div class="row card-body">
      <div class="col-md-12">
        <h3 class="about-listings">The space</h3>
          <p><%= @room.summary %></p>
      </div>
    </div>
    <hr/>

    <!---- Amenities --->
    <div class="row card-body">
       <div class="col-md-6">
        <h4 class="amenities-title">What this place offers</h4>
    </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_tv %>"><i class="fa-sharp fa-solid fa-tv"></i>   TV</li>
              <li class="<%= 'text-line-through' if !@room.is_kitchen %>"><i class="fa-solid fa-kitchen-set"></i>   Kitchen</li>
              <li class="<%= 'text-line-through' if !@room.is_internet %>"><i class="fa-solid fa-wifi"></i>   Internet</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_heating %>"><i class="fa-solid fa-thermometer-three-quarters" aria-hidden="true"></i>   Heating</li>
              <li class="<%= 'text-line-through' if !@room.is_air %>"><i class="fa-solid fa-snowflake"></i>   Air Conditioning</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <br/>



    <!---- Carousel ------->
      <div class="row">
        <div class="col-md-6">
        <div data-controller="map"
              id='map'
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
              data-map-markers-value="<%= @markers.to_json %>"
              style="width:100%; height: 500px;"></div>
        </div>

        <% if @room.photos.length > 0 %>
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
             <ol class="carousel-indicators">
              <% @room.photos.each do |photo| %>
              <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
              <% end %>
            </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner item">
            <% @room.photos.each do |photo| %>
              <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                <%= cl_image_tag photo.key, class: "carousel-img" %>
              </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <% end %>
            </div>
          <br/>
        </div>
      </div>


     <!----- Right Panel -------->

      <div class="col-md-4 pull-right">
        <%=  render "reservations/form" %>
      </div>




      <!-- Reviews -->
      <div class="row">
        <div class="booking-form booking">
          <div class="col-md-8">
            <h3>Reviews <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
            <div class="form-group">
              <div>
                <%= render 'reviews/list' %>
              </div>
              <br/>
                <%= render 'reviews/form'%>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>


    <!----- MAPBOX --------->
    <%# <div class="row"> %>



<script>
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score: <%= @room.average_rating %>
	});
</script>
