<div class="row">
  <div class="col-md-12">
    <%= image_tag @room.cover_photo(nil), width: "100%" %>
  </div>
</div>
<br/>

    <!-- Listing_name --->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @room.listing_name %></h1>
        <%= @room.address %>
      </div>
      <div class="col-md-4 text center">
        <%= image_tag avatar_url(@room.user), class: "img-circle avatar-large" %><br/><br/>
        <%= @room.user.fullname %>
      </div>
    </div>
    <hr/>

    <!-- Room Info --->
    <div class="row">

    </div>
    <hr/>

    <!---- About --->
    <div class="row">

    </div>
    <hr/>

    <!---- Amenities --->
    <div class="row">

    </div>
    <hr/>

    <!---- Carousel ------->
    <div class="row">

    </div>
    <hr/>
  </div>

  <!----- Right Panel -------->
  <div class="col-md-8"></div>

  </div>
</div>





  </div>
