<div class="row">
      <div class="col-md-12">
        <%# <%= image_tag @room.cover_photo(nil), width: 1000, height: 400, crop: :fill %> %>
      </div>
     </div>
    <br/>



      <div class="row">


        <!---LEFT PANEL---->
        <div class="col-md-8">

        <!-- Listing_name --->
        <div class="row">
          <div class="col-md-8">
            <h1><%= @room.listing_name %></h1>
            <%= @room.address %>
          </div>
          <div class="col-md-4 text center">
            <%= image_tag avatar_url(@room.user), class: "img-circle avatar-medium" %><br/><%= @room.user.fullname %></p><br/>
          </div>
        </div>
        <hr/>



    <!-- Room Info --->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-user-circle-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bed fa-2x"></i>
        </div>
        <div class="col-md-3">
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @room.home_type %></div>
        <div class="col-md-3"><%= pluralize(@room.acommodate, "Guest") %></div>
        <div class="col-md-3"><%= pluralize(@room.bed_room, "Bedroom") %></div>
        <div class="col-md-3"><%= pluralize(@room.bath_room, "Bathroom") %></div>
      </div>

    </div>
    <hr/>

    <!---- About --->
    <div class="row">
      <div class="col-md-12">
        <h3 class="about-listings">About This Listings</h3>
          <p><%= @room.summary %></p>
      </div>
    </div>
    <hr/>

    <!---- Amenities --->
    <div class="row">
       <div class="col-md-3">
        <h4 class="amenities-title">What this place offers</h4>
       </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_tv %>"><i class="fa-sharp fa-solid fa-tv"></i>   TV</li>
              <li class="<%= 'text-line-through' if !@room.is_kitchen %>"><i class="fa-solid fa-kitchen-set"></i>   Kitchen</li>
              <li class="<%= 'text-line-through' if !@room.is_internet %>"><i class="fa-solid fa-wifi"></i>   Internet</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%= 'text-line-through' if !@room.is_heating %>"><i class="fa-solid fa-thermometer-three-quarters" aria-hidden="true"></i>   Heating</li>
              <li class="<%= 'text-line-through' if !@room.is_air %>"><i class="fa-solid fa-snowflake"></i>   Air Conditioning</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr/>


    <!---- Carousel ------->
      <div class="row">

        <% if @room.photos.length > 0 %>
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
             <ol class="carousel-indicators">
              <% @room.photos.each do |photo| %>
              <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
              <% end %>
            </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner item">
            <% @room.photos.each do |photo| %>
              <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                <%= cl_image_tag photo.key, class: "carousel-img" %>
              </div>
            <% end %>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
         <% end %>
        </div>
      <hr/>
    </div>





    <!----- Right Panel -------->
      <div class="col-md-4">
        <%=  render "reservations/form" %>
      </div>

      <!-- Reviews -->
      <div class="row">
		<div class="booking-form booking">
			<div class="col-md-8">
				<h3>Reviews <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
				<div class="form-group">
					<div>
            <%= render 'reviews/list' %>
					</div>
            <%= render 'reviews/form'%>
					<div>
					</div>
				</div>
			</div>
		</div>
  </div>



    <!----- MAPBOX --------->
    <div class="row">
      <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style="width:100%; height: 500px;"></div>
    </div>


</div>

<script>
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score: <%= @room.average_rating %>
	});
</script>


<style>
.reviews {

  right: 5px;
}
</style>
