<h1><%= @room.home_type %> <small><%= @room.address %></small></h1>

<h2><%= pluralize @room.reviews.size, "review" %></h2>

<div>
  <% if @room.reviews.blank? %>
    Be the first to leave a review for <%= @room.home_type %>
  <% else %>
    <% @room.reviews.each do |review| %>
      <p><%= review.comment %></p>
    <% end %>
  <% end %>
</div>



		<!-- Reviews -->
		<div class="row">
			<div class="col-md-12">
				<h3>Reviews <span id="average_rating"></span> (<%= @reviews %>)</h3>
				<div class="container">
					<div>
						<%= render 'reviews/form' if @booked && !@hasReview %>
					</div>
					<div>
						<%= render 'reviews/list' %>
					</div>
				</div>
			</div>
		</div>
