
<% if @reviews.count == 0 %>
	<div class="text-center"><h4>There is no Review yet</h4></div>
<% else %>
	<% @reviews.order("id desc").each do |r| %>
		<hr>

		<div class="row">
			<div class="col-md-1">
				 <%= cl_image_tag avatar_url(r.user), class: "img-circle avatar-small" %>
			</div>
			<div class="col-md-11">
				<div>
        <div class="rating"><%= r.star %></div>
					<strong><%= r.user.full_name %> <div id="stars_<%= r.id %>"></div> </strong>

				</div>

				<div><%= r.created_at.strftime("%v") %></div>
				<div><%= r.comment.capitalize %></div>
			</div>
		</div>
	<% end %>
<% end %>
